/* Global elements */

:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --primary-color: white;
    
      }
  
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
  } 


/* Page elements */

body {
    font-family: "Inter", sans-serif;
  
     }
 
  

h3 {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1vw;

   }


.text .h2-index {
    font-size: 18px;
    text-align: left;
    margin-top: 15px;
    padding-left: 5px;

  }

.text .h3-index {
    font-size: 13px;
    text-align: left;
    margin-top: 15px;
    padding-left: 5px;

  }

.arrow  {
    font-size:20px;
    transform: scale(.5, 1);

  }

form {
  padding: 30px;

}

 
  

/* Container CSS grid */

.container {
  display: grid;
  max-width: 100%;
  height: 100vh;
  grid-template-columns: 1fr .5fr .5fr 1fr;
  grid-template-rows: minmax(180px, 1fr) 70px minmax(150px, 1fr) minmax(2000px, 1fr)  300px minmax(30px, 1fr);
  grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "sub-head sub-head sub-head sub-head"
    "main main main main"
    "content1 content2 content2 content3"
    "footer footer footer footer";
  grid-gap: 2.0rem;
  font-weight: 500;
  font-size: 12px;
  color: #004d40;
  text-align: center;
    
  }

/* Header */

#header {
   background: var(--primary-color);
   grid-area: header;
   border-radius: var(--main-radius);
   padding-top: var(--main-padding);

  }

.logo {
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 0px;
  font-size: 96px;
  font-family: "annie use your telescope", sans-serif;
  display: flex;
  }

/* Navigation */

nav {
  background: var(--primary-color);
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: 0px;
 
}

nav ul {
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 16px;
  background: var(--primary-color);
  left: -100%;
  transition: all .5s;
  list-style: none;
  z-index: 1;

}
 
nav li {
  margin-bottom: 16px;
  margin-left: 16px;

}

nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;  
  font-family: "Inter", sans-serif;

}

nav a:hover {
  color: rgb(91, 180, 253);
  transition: ease-in .1s;

}

nav a.active {
  color: rgb(91, 180, 253);
  transition: ease-in .1s;

}

.toggler {
  display: none;

}

.toggler:checked ~ nav ul {
  left: 0;
  
}

.burger {
  position: absolute;
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px 4px rgb(31, 31, 31);
  top: 5px;
  right: 0;
  margin-right: 26px;
  height: 100%;
  display: flex;
  
}

 .toggler:checked ~ nav a {
  opacity: 1;

}

/* Dinner dropdown menu */

.dropdown {
  overflow: hidden;

}

.dropdown .dropbtn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
  color: black;
  text-decoration: none;
  font-size: 20px;  
  font-family: "Inter", sans-serif;

}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  color: rgb(91, 180, 253);
  transition: ease-in .1s;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.show {
  display: block;

}

/* Sub-head */

#sub-head {
  background: var(--primary-color);
  grid-area: sub-head;
  border-radius: var(--main-radius);
  padding-top: 0px;
  height:50px;

}

#sub-head a {
  color: rgba(0, 0, 0, 0.8);
   
}

#sub-head h3 {
  margin-left: 150px;
  text-align: left;
  font-family: "Arial Narrow", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 100;
  letter-spacing: 3px;

}

#sub-head h2 {
  font-family: "annie use your telescope", sans-serif;
  font-size: 46px;
  margin-top: 20px;
    
}
 

/* Main */

main {
  background: var(--primary-color);
  grid-area: main;
  display:grid;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-left: 125px;
  margin-right: 125px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 80px;
  align-items: stretch;
    
} 

.grid > article {
  height: 900px;
  position: relative;
  transition: 0.3s;

}

.grid > article img {
  width: 90%;
  height: 525px;

}

.text p {
  padding: 0 20px 20px;
  font-family: "Inter", sans-serif; 
  line-height: 1.6;
  text-align: justify;
  margin-top: 10px;
  font-weight: 50;
  font-size: 16px;
}

.text h3 {
  margin-top: 20px;
  font-family: "Arial Narrow", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 100;
  letter-spacing: 3px;
}

.text h2 {
  margin-top: 20px;
  color: black;
  font-size: 24px;
}

/* Conversion Calculator CSS Grid */

.container_conversion {
  display: grid;
  max-width: 100%;
  height: 100vh;
  grid-template-columns: 1fr .5fr .5fr 1fr;
  grid-template-rows: minmax(180px, 1fr) 70px minmax(40px, 1fr) minmax(700px, 1fr)  300px minmax(30px, 1fr);
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "sub-head sub-head sub-head sub-head"
    "main main main main"
    "content1 content2 content2 content3"
    "footer footer footer footer";
  grid-gap: 2.0rem;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}

/* Conversion Calculator Main */

.conversions-main {
  grid-area: main;
  display: grid;  
   
  background: url('../images/kitchen.jpg');
  height: 45rem;
  background-size: cover;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-left: 80px;
  margin-right: 80px;
} 

/* Calculator */

.calculator_main {
  
  display:grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-template-rows: repeat(6, .5fr);
  text-align: center;
  padding: 0px;
  grid-gap: 0px;
  box-sizing: border-box;
  grid-row-gap: 0px;
  grid-column-gap: 0px;

}

#title-c {
  background-color: rgb(187, 228, 187);
  grid-area: 2/2/3/5;
  align-items:center;
  justify-items: center;
  border:5px solid black;
}

#sq-d {
  grid-area: 3/2/5/3;
  align-items:center;
  justify-items: center;
  border-right: 5px solid black;
  border-left: 5px solid black;
  display: grid;
  background-color: rgb(161, 230, 161);
  
}

#sq-e {
  grid-area: 3/3/5/4;
  
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: rgb(161, 230, 161);
  align-items:center;
  justify-items: center;
}

#sq-f {
  grid-area: 3/4/5/5;
  
  border-right: 5px solid black;
  border-left: 5px solid black;
  display: grid;
  background-color: rgb(161, 230, 161);
  align-items:center;
  justify-items: center;
}

#bottom {
  grid-area: 5/2/6/5;
  border:5px solid black;
  background-color: rgb(135, 230, 135);

}



/* Calculator Form - Select */ 

.conversions-main select {
  font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border-radius: 5px;
	font-size: 20px;
	outline: 0;
	
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: white;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.03) inset;
  display:block;
  margin-bottom: 40px;
}

/* Calculator Form - Input */ 

.conversions-main input {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255,.1);
  border-radius: 5px;
  font-size: 25px;
  outline: 0;
  padding: 10px;
  height:45px;
  text-align: center; 
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: white;
  color:#8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.03) inset;
  display:block;
  width: 75px; 
  align-items:center;
  justify-items: center;
  margin-top: 40px;
}

.converter-title {
  padding-top: 10px;
  padding-bottom: 30px;
  font-family: "annie use your telescope", sans-serif;
  font-size: 56px;
  margin-top: 20px;
  font-weight: bold;

}

/* Calculator Form - Input/Select Type */

#inputType,#resultType {
  width: 75px;
  height:45px;
      
}

/* Calculator Form - Button */ 

.equals_button {
  box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:42px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Otomanopee One', sans-serif;
	font-size:46px;
	padding:8px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;

}
  
.equals_button:hover {
  background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
  
}

.equals_button:active {
  position:relative;
  top:1px;

}


/* Index Homepage CSS grid */

.container-index {
  display: grid;
  max-width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(180px, 1fr) 70px minmax(200px, 1fr) 0px 750px minmax(4000px, 1fr)  300px minmax(30px, 1fr);
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "sub-head sub-head sub-head sub-head"
    "mobile_header mobile_header mobile_header mobile_header"
    "main-image main-image main-image main-image"
    "main main main main"
    "content1 content2 content2 content3"
    "footer footer footer footer";
  grid-gap: 2.0rem;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
    
}

#id01 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Index Main */
 
#main-image {
  grid-area: main-image;
  margin-left: 125px;
  margin-right: 125px;
  
}

#main-image img {
  width: 100%;
  
}

.index-grid {
  background: var(--primary-color);
  grid-area: main;
  display:grid;
  border-radius: var(--main-radius);
  margin-top: 250px;
  margin-left: 125px;
  margin-right: 125px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-column-gap: 30px;
  align-items: stretch;
  
} 





.index-grid > #id01 {
  position: relative;
  transition: 0.3s;
  height: 475px;
    
}

#id01:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
  

.index-grid > #id01 img {
    width: 100%;
    height: 380px;

}

.index-grid > .index {
  position: relative;
  transition: 0.3s;
  height: 525px;
    
}

.index:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
  

.index-grid > .index img {
    width: 100%;
    height: 380px;

}

 
/* Content 1 */

#content1 {
  grid-area: content1;
  display:grid;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-left: 80px;
  position: relative;

}

#content1 > img {
  grid-area: 1/1/4/2;
  border-radius: 5px;
  width: 100%;
  height: 100%;

}

#content1 > .button {
  grid-area: 2/1/2/2;
  justify-self: center;

}

/* Content 2 */

#content2 {
  grid-area: content2;
  display:grid;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);

}

#content2 > img {
  grid-area: 1/1/4/2;
  border-radius: 5px;
  width: 100%;
  height: 100%;

}

#content2 > form {
  grid-area: 2/1/2/2;
  
}

/* Content 3 */

#content3 {
  background: var(--primary-color);
  grid-area: content3;
  display:grid;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-right: 80px;
}

#content3 > img {
  grid-area: 1/1/4/2;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  
}

#content3 > .button {
  grid-area: 2/1/2/2;
  justify-self: center;

}
    
/* Footer */

footer {
  background: var(--primary-color);
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);

}
  


/* Style the Content Buttons */

.button {
  box-shadow:inset 0px -1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #576662 5%, #627070 100%);
	background-color:#576662;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
  align-self: center;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
  transition: all 0.5s;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  padding:9px 32px ;

}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  background:linear-gradient(to bottom, #627070 5%, #576662 100%);
	background-color:#627070;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Style the "Top" Button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 14px -5px rgba(0, 0, 0,0.5);
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;

}

#myBtn i {
  color: #fff;
  margin: 0;
  position: relative;
  font-size: 25px;

}

#myBtn:hover {
  background: rgba(0, 0, 0, 0.9);
}

#myBtn:hover i {
  color: #fff;
  top: 5px;
}

/* Style the Card Button */

.card-button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	border-radius:2px;
	border:2px solid #dcdcdc;
	display: inline-block;
	cursor:pointer;
	color:BLACK;
	font-family: "Inter", sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:14px 40px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  display: table-cell; 
  vertical-align: bottom;
  position:absolute;
  bottom: 5px;
  left: 20%;
  right: 20%;
  text-align: center;
  
}
.card-button:hover {
  background-color:transparent;
  
}


/* Style the search field */

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius:5px;
  width: 75%;
  background: #f1f1f1;

}

/* Style the submit button */

form.example button {
  width: 15%;
  padding: 10px;
  background: #576662;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius:5px;
  border-left: none; 
  cursor: pointer;

}

form.example button:hover {
  background: #0b7dda;

}

/* Clear floats */

form.example::after {
  content: "";
  clear: both;
  display: table;
}


/* Media queries */

@media only screen and (max-width: 1050px) {

/* Container CSS grid */

.container {
  grid-template-columns: 1.5fr;
  grid-template-rows: 90px 0px 80px 1fr 250px 250px 250px 0.1fr;
  grid-gap: 16px;
  grid-template-areas:
    "header"
    "nav"
    "sub-head"
    "main"
    "content1"
    "content2"
    "content3"
    "footer";

}

/* Sub-head */

.logo {
  
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 80px;
  font-family: "annie use your telescope", sans-serif;

}

#sub-head h3 {
  margin-left: 30px;
    
}

#sub-head h2 {
  font-size: 28px;
    
}

/* Global */

.h3-1 {
  display: none;
  
}

/* Main */

main {
  margin-right: 16px ;
  margin-left: 16px ;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}




.example {
  background-color: #f3f3f3;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 20px;
  border-radius: var(--main-radius);
  padding: 10px;

}

/* Conversion Calculator CSS Grid mw-900 */

.container_conversion {
  grid-template-columns: 1fr;
  grid-template-rows: 90px 0px 0px  minmax(800px, 1fr) 250px 250px 250px 0.1fr;
  grid-gap: 16px;
  grid-template-areas:
    "header"
    "nav"
    "sub-head"
    "main"
    "content1"
    "content2"
    "content3"
    "footer";

}

.container_conversion {
  grid-template-columns: 1.5fr;
  grid-template-rows: 90px 0px 80px 1fr 250px 250px 250px 0.1fr;
  grid-gap: 16px;
  grid-template-areas:
    "header"
    "nav"
    "sub-head"
    "main"
    "content1"
    "content2"
    "content3"
    "footer";

}

/* Header mw-900 */ 

.header-line {
  margin-left: 20px;
  margin-right: 20px;
  height: 1px;
  background-color: #ccc;
  border: none; 

}

/* Calculator Form - Select mw-900 */ 

.conversions-main select {
  width:75px;
  border: 0px;
  background: url("images/downArrow.png") no-repeat right #fff;

}

/* Calculator Form - Input/Select Type mw-900 */

#inputType,#resultType {
  width: 75px;
  height:35px;

}

/* Calculator Form - Input mw-900 */ 

.conversions-main input {
  width: 150px;
  text-align: right;
  margin-bottom:0px;
  border-width: 0 0 1.5px;
  height:60px;

}




/* Calculator Form - Button mw-900 */ 

.equals_button {
  background: #d93455;
  background-image: -webkit-linear-gradient(top, #d93455, #b8472b);
  background-image: -moz-linear-gradient(top, #d93455, #b8472b);
  background-image: -ms-linear-gradient(top, #d93455, #b8472b);
  background-image: -o-linear-gradient(top, #d93455, #b8472b);
  background-image: linear-gradient(to bottom, #d93455, #b8472b);
  -webkit-border-radius: 37;
  -moz-border-radius: 37;
  border-radius: 37px;
  text-shadow: 2px 2px 4px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 60px;
  padding: 6px 20px 10px 20px;
  text-decoration: none;

}
  
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;

}

.equals_button:active {
  position:relative;
  top:1px;

}

 
/* Content 1 mw-900 */
   
#content1 {
  margin-right: 16px ;
  margin-left: 16px ;
  display: inline-block;
  position:relative;
  display: flex;  
  justify-content: center;  
  align-items: center;

}
  
  
#content1 a{
  position: absolute;
   
}
      
/* Content 2 mw-900 */

#content2 {
  margin-right: 16px ;
  margin-left: 16px ;
  display: inline-block;
  position:relative;
  display: flex; 
  justify-content: center;  
  align-items: center;

}
    
.example{
  position: absolute;
        
}
   
/* Content 3 mw-900 */

#content3 {
  margin-right: 16px ;
  margin-left: 16px ;
  display: inline-block;
  position:relative;
  display: flex; 
  justify-content: center;  
  align-items: center;

}
  
#content3 a{
  position: absolute;
     
}
  



/* Conversion Calculator Main */

.conversions-main {
  grid-template-rows: minmax(650px, 1fr);
  margin-top: 0px;
  background: none;
  margin-left: 0px;
  margin-right: 0px;
 
} 

/* Calculator */
 
.calculator_main {
  height: 100vh;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, .5fr);
  margin-left: 0px;
  margin-right: 0px;
  border: 3px solid black;
  margin-top: 30px;
  border-radius: 0px;
  background: rgb(63,252,223);
  background: linear-gradient(138deg, rgba(63, 252, 224, 0.776) 25%, rgba(161, 230, 161, 0.646) 56%, rgb(161, 230, 161) 100%);

}

#title-c {
  grid-area: 1/1/2/4;
  display: grid;
  justify-content: center;
  background-color: var(--calculator_background-color);

}

.converter-title {
  font-family: "annie use your telescope", sans-serif;
  font-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  color: white;

}

#sq-d {
    display: inline-block;

}

#sq-d {
  grid-area: 2/1/3/4;
  border:none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  background-color: var(--calculator_background-color);

 }

 #sq-e {
  grid-area: 4/1/7/4;
  border:none;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  align-items:center;
  justify-content: center;
  background: rgba(167, 240, 208, 0.673);
  background: linear-gradient(137deg, rgba(167, 240, 208, 0.673) 46%, rgba(219,238,235,1) 100%);  align-content: center;

}

#sq-f {
  grid-area: 3/1/4/4;
  border:none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  background-color: var(--calculator_background-color);

}

#bottom {
  display:none;
  border:none;
 
}

/* Calculator Form - Input/Select Type */
 
#input {
  grid-area: 1/2/3/4;
  margin-left: 0px;
  margin-top: 10px;
  background-color: var(--calculator_background-color);
  color: white;
  font-size: 46px;
  transform: scale(1, 1.5);

}
  
#inputType {
  background-color: var(--calculator_background-color);
  outline: none;
  margin-left: 0px;
  margin-top: 30px;
  color: white;

}
  
#result {
  grid-area: 1/2/2/4;
  margin-left: 0px;
  margin-top: 10px;
  background-color: var(--calculator_background-color);
  color: white;
  font-size: 46px;
  transform: scale(1, 1.5);

}
  
#resultType {
  margin-left: 0px;
  background-color: var(--calculator_background-color);
  color: white;
  margin-top: 30px;

}



/* Index CSS Grid */

.container-index {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 0px 50px 30px 1fr 1fr 250px 250px 250px 0.1fr;
  grid-gap: 16px;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "sub-head sub-head sub-head"
    "mobile_header mobile_header mobile_header"
    "main-image main-image main-image"
    "main main main"
    "content1 content1 content1"
    "content2 content2 content2"
    "content3 content3 content3"
    "footer footer footer";

}

/* Index Homepage CSS grid mw-900 */
   
.index-grid {
  margin-right: 16px ;
  margin-left: 16px ;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.index  {
  margin-right: 16px ;
  margin-left: 16px ;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.large_header {
  display: none;

}

.slogan {
  display: none;

}

.header-line{
  width: 100%;

}

.index_sort0 {
  right:30px;
  position:absolute;
  margin-top: 8px;
  font-family: "Arial Narrow", Arial, sans-serif; 
  font-size: 12px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 600;

}

.index_sort1{
  right:120px;
  position:absolute;
  margin-top: 8px;
  font-family: "Arial Narrow", Arial, sans-serif; 
  font-size: 12px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 600;

}

.index_subnav {
  display: flex;
  position: relative;
  
}

#index_title {
  font-size: 36px;
  font-family: "annie use your telescope", sans-serif;
  left: 30px;
  position:absolute;
  color: black;
  margin-bottom: 10px;
  
}
#mobile_header {
  grid-area: mobile_header;
  display:grid;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-left: 125px;
  margin-right: 125px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 80px;
  align-items: stretch;

    
}


#main-image {
  display: none;

}

.index-grid {
  padding-top: 0px;
  justify-content: center;
  grid-column-gap: 0px;
  margin-right: 30px ;
  margin-left: 30px ;
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  grid-template-rows: repeat(auto-fill, minmax(350px, 350px));

} 


.index-grid > .index {
  
  position: relative;
  transition: 0.3s;
  height: 375px;
  margin-top: 30px;

}

.index:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.index-grid > .index img {
  width: 100%;
  height: 250px;

}


footer {
  bottom: 0px;

}
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (min-width: 1050px) {

.burger {
    display: none;

}

.header-line {
    display: none;

}

#mobile_header {
    display: none;

}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;
  border-top-style: solid;
  border-top-color:rgba(0, 0, 0, 0.1);
  border-top-width: 2px;

}

nav ul {
  all: unset;
  list-style: none;
  display: flex;

}

nav li {
  margin-bottom: 0;
  margin-right: 16px;
    
}

nav a {
    opacity: 1;

}

}
