/* Global elements */

:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --primary-color: white;
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
      
}


/* Page elements */

body {
    font-family: "Inter", sans-serif;
  }

   p {
       color: white;
   }

   h3 {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1vw;
  }

   #sub-head h3 {
    margin-left: 50px;
    text-align: left;
    font-family: "Arial Narrow", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 100; color: rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    font-size: 12px;

  }

  #sub-head a {
    color: rgba(0, 0, 0, 0.8);
  }

  .logo {
   text-align: center;
   padding-top: 30px;
   padding-bottom: 0px;
   font-size: 96px;
   font-family: 'Caveat', cursive;
 }
 

 .recipe-info li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
   
 }

 .instructions, .ingrediants, .notes {
    text-align: left;
    list-style-position: inside;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
 }

 .instructions li, .ingrediants li { 
     margin-bottom: 15px; 
}

.ingrediants {
    background: #FFFFE0;
    margin-left: 30px;
    margin-right: 30px;
}

main > div h1 {
    padding-bottom: 20px;
    padding-top: 20px;
}

main > div h2 {
padding-bottom: 20px;
padding-top: 20px;
}

   /* Homepage CSS grid */

.container {
    display: grid;
    max-width: 100%;
    height: 100vh;
    grid-template-columns: 1fr .75fr 1fr;
    grid-template-rows: 180px 70px 20px 1500px 30px;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "sub-head sub-head sub-head"
    "main main aside"
    "footer footer footer";
    grid-gap: 2.0rem;
    font-weight: 500;
    font-size: 12px;
    color: #004d40;
    text-align: center;
}

/* Header */

header {
    background: var(--primary-color);
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

/* Navigation */

nav {
  background: var(--primary-color);
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: 0px;
  font-family: "Inter", sans-serif;
   
}

.toggler {
  display: none;
}

nav ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 16px;
  background: var(--primary-color);
  left: -100%;
  transition: all .5s;
  list-style: none;
}
 
nav li {
  margin-bottom: 16px;
  margin-left: 16px;
}


nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;  
  font-family: "Inter", sans-serif;
}

nav a:hover {
  color: rgb(91, 180, 253);
  transition: ease-in .1s;
}

nav a.active {
  color: rgb(91, 180, 253);
  transition: ease-in .1s;
}

.toggler:checked ~ nav ul {
  left: 0;
}

.burger {
  position: absolute;
   font-size: 35px;
   color: white;
   text-shadow: 2px 2px 4px rgb(31, 31, 31);
   top: 5px;
   right: 0;
   margin-right: 26px;
   height: 100%;
   display: flex;
  
 }

 .toggler:checked ~ nav a {
  opacity: 1;
}
 

  /* Sub-head */

  #sub-head {
    background: var(--primary-color);
    grid-area: sub-head;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  /* Aside */

  aside {
    background: var(--primary-color);
    grid-area: aside;
    display:grid;
    border-radius: var(--main-radius);
    padding-top: 0px;
    font-family: "Inter", sans-serif;
    margin-right: 50px;
    grid-template-columns: 1fr; 
    grid-template-rows: 300px 300px 300px;
    row-gap: 30px;
  }

  /* Main */

  main {
    background: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    grid-area: main;
    display:grid;
    border-radius: 10px;
    padding-top: var(--main-padding);
    margin-left: 50px;
    grid-template-columns: 1fr; 
    grid-template-rows: 500px 150px 400px 250px 150px;
    
    

  }


  main >  div img {
    width: 100%;
    height: 500px;
    border-radius: 10px 10px 0px 0px;
   }

  
   /* Footer */

  footer {
    background: var(--primary-color);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  

  /* Style the Content Buttons */

.button {
  box-shadow:inset 0px -1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #576662 5%, #627070 100%);
	background-color:#576662;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 32px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
  transition: all 0.5s;
  
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  background:linear-gradient(to bottom, #627070 5%, #576662 100%);
	background-color:#627070;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:active {
	position:relative;
	top:1px;
}

/* Style the Print Button */

.print-button {
  box-shadow:inset 0px -1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #576662 5%, #627070 100%);
	background-color:#576662;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:8px;
	font-weight:bold;
	padding:9px 22px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
  transition: all 0.5s;
  margin-top: 20px;
}

.print-button .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

/* Content 1 */

#content1 {
    
    
    display: grid;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
   

  }

#content1 > img {
    grid-area: 1/1/4/2;
    border-radius: 5px;
    width: 100%;
    height: 100%;

  }

  #content1 > .button {
    grid-area: 2/1/2/2;
    justify-self: center;

  }

  /* Content 2 */

  #content2 {
    display: grid;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

  }
  
  #content2 > img {
    grid-area: 1/1/4/2;
    border-radius: 5px;
    width: 100%;
    height: 100%;

  }

  #content2 > form {
    grid-area: 2/1/2/2;

  }

  /* Content 3 */

  #content3 {
    display: grid;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
   

  }

  #content3 > img {
    grid-area: 1/1/4/2;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    
  }

  #content3 > .button {
    grid-area: 2/1/2/2;
    justify-self: center;
  }

 



/* Style the search field */

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius:5px;
  
  width: 55%;
  background: #f1f1f1;
}

/* Style the submit button */

form.example button {
  
  width: 15%;
  padding: 10px;
  background: #576662;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius:5px;
  border-left: none; 
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Media queries */

@media only screen and (max-width: 700px) {

    .container {
     
        grid-template-columns: 1.5fr;
        grid-template-rows: 90px 0px 90px 1fr 1000px 0.1fr;
        grid-gap: 16px;
        grid-template-areas:
          "header"
          "nav"
          "sub-head"
          "main"
          "aside"
          "footer";
      }
  
      .logo {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0px;
        font-size: 60px;
        font-family: 'Caveat', cursive;
      }

      .h3-1 {
        display: none;
      }
  
      #sub-head h3 {
        text-align: left;
        margin-left: 20px;
        
      }
  
    main {

      margin-right: 16px ;
      margin-left: 16px ;
      
      grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
      }
  
    
  aside {
  
    margin-right: 16px ;
    margin-left: 16px ;
  }
  
  footer {
    bottom: 0px;
  }
  }

  @media screen and (min-width: 700px) {

    .burger {
      display: none;
    }
  
  
    nav {
      
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-style: solid;
      border-bottom-color: rgba(0, 0, 0, 0.1);
      border-bottom-width: 2px;
      border-top-style: solid;
      border-top-color:rgba(0, 0, 0, 0.1);
      border-top-width: 2px;
    }
  
    nav ul {
      all: unset;
      list-style: none;
      display: flex;
      
    }
  
    nav li {
      margin-bottom: 0;
      margin-right: 16px;
      
    }
  
    nav a {
      opacity: 1;
    }
  
  }